
html{
    font-size: 62.5%;
}
body{
    width: 92%;
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 0.3s ease;
}
.network-status{
    width: 100%;
    opacity: 0%;
    background-color: red;
    color: white;
    height: 3.8rem;
    text-align: center;
    position: fixed;
    top:0;
    left: 0;
    z-index: 5;
    transition: all 0.5s ease;
    z-index: 5;
}
.network-status p{
    line-height: 3.8rem;
    font-size: 1.6rem;
    line-height: 50%;
}
.logo img{
    width: 30%;
    height: auto;
}
.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navigation p{
    color: black;
    opacity: 40%;
    font-size: 1.2rem;
    transition: all 0.5s ease;
    cursor: pointer;
}
.home{
    display: block;
    transition: all 0.3s ease;
}
.home br{
    display: block;
    content: "";
    margin-top:16px;
}
.banner{
    width: 100%;
    position: relative;
}
.banner div h1{
    padding-top:3%;
    margin-left: 5%;
    color: white;
    font-weight: normal;
    font-size: 7vw;
}
.banner div p{
    padding-bottom: 5vw;
    margin-left: 5%;
    width: 50%;
    color: white;
    font-size: 3vw;
}
.banner button{
    margin-left: 5%;
    border: 0;
    background-color: white;
    font-size: 2.5vw;
    height: 5vw;
    width: 25%;
    border-radius: 4px;
    cursor: pointer;
}
.banner img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: black;
}
.banner div{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.concept {
    display: block;
    transition: all 0.3s ease;
}
.concept p{
    font-size: 1.6rem;
    text-align: justify;
}
.concept h1{
    font-size: 3.2rem;
    text-align: center;
    font-weight: normal;
}
.concept h2{
    font-size: 2.4rem;
    font-weight: normal;
}
.concept button{
    margin-left: 25%;
    border: 0;
    width: 50%;
    color: white;
    background-color:  black;
    font-size: 1.2rem;
    height: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
}
.policy{
    display: block;
    transition: all 0.3s ease;
}
.policy h1{
    font-size: 3.2rem;
    text-align: center;
    font-weight: normal;
}
.policy h2{
    font-size: 2.4rem;
    font-weight: normal;
}
.policy p{
    font-size: 1.6rem;
    text-align: justify;
}
.dsp{
    display: block;
    transition: all 0.3s ease;
}
.dsp h1{
    font-size: 3.2rem;
    text-align: center;
    font-weight: normal;
}
.dsp p{
    font-size: 1.6rem;
}
.dsp a{
    font-size: 1.6rem;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.dsp img{
    width: 100%;
    border-radius: 4px;
}
.store{
    display: block;
    transition: all 0.3s ease;
}
.store h1{
    font-size: 3.2rem;
    font-weight: normal;
    text-align: center;
}
.store div{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.store div div img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.store div div{
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
}
.soldout{
    text-align: center;
    vertical-align: middle;
    margin: 0;
    width: 50%;
    height: 3.2rem;
    background-color: red;
    position: absolute;
    top:50%;
    left: 25%;
    line-height: 3.2rem;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 4px;
    z-index: 3;
}
.product{
    display: block;
    transition: all 0.3s ease;
}
.product h1{
    font-size: 2.4rem;
    font-weight: normal;
}
.product h2{
    font-size: 1.8rem;
    font-weight: normal;
}
.product p{
    font-size: 1.6rem;
}
.product div img{
    width: 100%;
    height: 100%;
}
.product select{
    border: 0;
    width: 40%;
    color: white;
    background-color:  black;
    font-size: 1.6rem;
    height: 32px;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}
.product option{
    display: inline-block;
    border: 0;
    width: 25%;
    color: white;
    background-color:  black;
    font-size: 1.2rem;
    height: 32px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.product button{
    border: 0;
    width: 40%;
    color: white;
    background-color:  black;
    font-size: 1.6rem;
    height: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
}
footer{
    background-color: white;
    display: flex;
    width: 100%;
    height: 54px;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
footer p::before{
    display: block;
    font-weight: bold;
    content: "AnxSion \00a9 2022";
    font-size: 1.4rem;
}
.unit-available:hover{
    background-color: #39FF14;
    color: black;
    transition: all 0.2s;
}
.unit-unavailable:hover{
    background-color: red;
    color: black;
    transition: all 0.2s;
}

@media screen and (min-width:375px){
    .navigation p{
        font-size: 1.23rem;
    }
    .logo img{
        width: 29%;
        height: auto;
    }
}

@media screen and (min-width:425px){
    .navigation p{
        font-size: 1.3rem;
    }
    .logo img{
        width: 28%;
        height: auto;
    }
}

@media screen and (min-width:768px){
    body{
        width: 84%;
        margin-left: auto;
        margin-right: auto;
    }
    .banner div h1{
        padding-top:5%;
        font-size:6.2vw;
    }
    .banner div p{
        padding-bottom: 4%;
        font-size: 2.4vw;
    }
    .banner button{
        font-size: 2.2vw;
        height: 10%;
        width: 25%;
    }
    .logo img{
        width: 27%;
        height: auto;
    }
    .navigation p{
        font-size: 2rem;
    }
    .store div{
        grid-template-columns: auto auto;
    }  
}

@media screen and (min-width:1024px){
    body{
        width: 840px;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    .concept P{
        font-size: 1.8rem;
    }
    .concept h1{
        font-size: 3.4rem;
    }
    .concept h2{
        font-size: 2.6rem;
    }
    .concept button{
        font-size: 1.4rem;
    }
    .dsp h1{
        font-size: 3.4rem;
    }
    .dsp p{
        font-size: 1.8rem;
    }
    .dsp a{
        font-size: 1.8rem;
    }
    .policy p{
        font-size: 1.8rem;
    }
    .policy h1{
        font-size: 3.4rem;
    }
    .policy h2{
        font-size: 2.6rem;
    }
    .product h1{
        font-size: 2.6rem;
    }
    .product h2{
        font-size: 2rem;
    }
    .product p{
        font-size: 1.8rem;
    }
    .store h1{
        font-size: 3.4rem;
    }
    .soldout {
        line-height: 3.6rem;
        height: 3.6rem;
        font-size: 1.8rem;
    }
    .banner div h1{
        padding-top:4%;
        font-size:6.4rem;
    }
    .banner div p{
        padding-bottom: 4%;
        font-size: 2.7rem;
    }
    .banner button{
        font-size: 2.5rem;
        height: 10%;
        width: 25%;
    }
    .logo img{
        width: 26%;
        height: auto;
    }
    .navigation p{
        font-size: 1.8rem;
    }
    .store div{
        grid-template-columns: auto auto;
    }  
}

@media screen and (min-width:1440px){
    body{
        width: 1040px;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    .concept P{
        font-size: 1.8rem;
    }
    .concept h1{
        font-size: 3.4rem;
    }
    .concept h2{
        font-size: 2.6rem;
    }
    .concept button{
        font-size: 1.4rem;
    }
    .dsp h1{
        font-size: 3.4rem;
    }
    .dsp p{
        font-size: 1.8rem;
    }
    .dsp a{
        font-size: 1.8rem;
    }
    .policy p{
        font-size: 1.8rem;
    }
    .policy h1{
        font-size: 3.4rem;
    }
    .policy h2{
        font-size: 2.6rem;
    }
    .product h1{
        font-size: 2.6rem;
    }
    .product h2{
        font-size: 2rem;
    }
    .product p{
        font-size: 1.8rem;
    }
    .store h1{
        font-size: 3.4rem;
    }
    .soldout {
        line-height: 3.6rem;
        height: 3.6rem;
        font-size: 1.8rem;
    }
    .banner div h1{
        padding-top:4%;
        font-size:7.8rem;
    }
    .banner div p{
        padding-bottom: 4%;
        font-size: 3rem;
    }
    .banner button{
        font-size: 2.7rem;
        height: 10%;
        width: 25%;
    }
    .logo img{
        width: 22%;
        height: auto;
    }
    .navigation p{
        font-size: 1.8rem;
    }
    .store div{
        grid-template-columns: auto auto;
    }  
}

@media screen and (min-width:2560px){
    body{
        width: 1440px;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    .concept P{
        font-size: 1.8rem;
    }
    .concept h1{
        font-size: 3.4rem;
    }
    .concept h2{
        font-size: 2.6rem;
    }
    .concept button{
        font-size: 1.4rem;
    }
    .dsp h1{
        font-size: 3.4rem;
    }
    .dsp p{
        font-size: 1.8rem;
    }
    .dsp a{
        font-size: 1.8rem;
    }
    .policy p{
        font-size: 1.8rem;
    }
    .policy h1{
        font-size: 3.4rem;
    }
    .policy h2{
        font-size: 2.6rem;
    }
    .product h1{
        font-size: 3rem;
    }
    .product h2{
        font-size: 2.4rem;
    }
    .product p{
        font-size: 2.2rem;
    }
    .store h1{
        font-size: 3.4rem;
    }
    .soldout {
        line-height: 3.6rem;
        height: 3.6rem;
        font-size: 1.8rem;
    }
    .banner div h1{
        padding-top:4%;
        font-size: 10.2rem;
    }
    .banner div p{
        padding-bottom: 5%;
        font-size: 4.2rem;
    }
    .banner button{
        font-size: 3.6rem;
        height: 10%;
        width: 25%;
    }
    .logo img{
        width: 24%;
        height: auto;
    }
    .navigation p{
        font-size: 2.2rem;
    }
    .store div{
        grid-template-columns: auto auto auto;
    }  
}